@import "tailwindcss";

.completion-tracker li {
  position: relative;
}

.completion-tracker li:first-child::after{ 
  content: '';
  width: 500%;
  height: 2px;
  background: #1447e6;
  position: absolute;
  top: 50%;
  left: 100%;
}

.completion-tracker li:last-child::before{ 
  content: '';
  width: 500%;
  height: 2px;
  background: #1447e6;
  position: absolute;
  top: 50%;
  left: -500%;
}

.completion-tracker li:not(:first-child):not(:last-child)::before {
  content: '';
  width: 500%;
  height: 2px;
  background: #1447e6;
  position: absolute;
  top: 50%;
  left: -500%;
}

.completion-tracker li:not(:first-child):not(:last-child)::after {
  content: '';
  width: 500%;
  height: 2px;
  background: #1447e6;
  position: absolute;
  top: 50%;
  left: 100%
}